.btnNewReq{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    color: white;
    font-weight: bold;
    border : none;
    border-radius: 1rem;
    cursor: pointer;
  }
label{
    font-weight: bold;
    margin-top: 1rem;
}
input[type="text"]{
    width: 95%;
    height: 1.5rem;
    outline: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
textarea{
    width: 95%;
    height: 3rem;
    outline: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
}